body {
  background-color: hsl(47, 88%, 63%);
}

.main_container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  box-shadow: 7px 7px black;
  margin-bottom: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
