body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", "Arial";
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main_container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  box-shadow: 7px 7px black;
  margin-bottom: 50px;
  text-align: center;
  width: 500px;
}

.illust_img img {
  border-radius: 10px;
  width: 100%;
}

.learning_tag {
  border-radius: 3px;
  border: 1px;
  background-color: hsl(47, 88%, 63%);
  width: 80px;
}

.container_content {
  text-align: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
