body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", "Arial";
  font-size: 16px;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main_container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  box-shadow: 7px 7px black;
  margin-bottom: 50px;
  text-align: center;
  width: 350px;
}

.illust_img img {
  border-radius: 10px;
  width: 100%;
}

.learning_tag {
  border-radius: 3px;
  border: 1px;
  background-color: hsl(47, 88%, 63%);
  width: 80px;
}

.container_content {
  text-align: left;
}

.publish_date {
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

.title {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

.para_desc {
  font-weight: 500;
  color: hsl(0, 0%, 42%);
}

.author {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
